{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>payment Process</title>
</head>
<body>
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            <a href="" class="btn btn-success" onclick="window.close()">Close this tab</a>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>
