{% extends 'users/admin/base.html' %}
{% block content %}
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row w-75 mx-auto bg-light shadow rounded p-5">
    <!-- Write your Details here -->
    <h1 class="text-success">Smart Health Management Sysstem</h1>
    <h2>Tanjin Ahmed</h2>
    <h2>Tanjin Ahmed</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id mollitia excepturi hic odio? Modi, placeat, veritatis similique ipsam, odio aliquid deleniti adipisci magni explicabo optio eius exercitationem laboriosam nesciunt ad!</p>
</div>

{% endblock content %}